.header {
  width: 100%;
  height: 100px;
  background: linear-gradient(to right, #f1faf1 0%, #f1faf1 50%, white 50%, white 100%);
  color: #000;
  display: flex;
  align-items: center;
}
.appName {
  font-size: 26px;
  color: #000;
  font-weight: bold;
  margin-left: 55px;
}
.headerMenu {
  margin-right: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0;
}

li {
  padding: 0 16px;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}
.searchForm {
  display: flex;
}

