.container {
  padding: 90px 0;
  background-color: #ffffff;
}
.title {
  color: #000;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}
.recipes {
  margin: 0 10%;
  text-align: center;
}

.all {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-template-rows: auto; 
  column-gap: 20px;
  row-gap: 20px;
}
.recipe {
  background-color: white;
  color: black;
  padding: 20px;
  align-self: stretch;
  box-shadow: 2px 2px 40px rgb(198 188 188 / 25%);}
.img {
    width: 95%;
}
.recipeName{
    font-size: 23px;
    font-weight: 500;
    margin: 15px 0 10px;
}
.recipeInfo{
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}
.recipeInfo p{
    background-color: #f1faf1;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 13px;
    padding: 3px;
    letter-spacing: 1px;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
}
.icon{
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-right: 4px;
}
.tagsLine{
    font-size: 13px;
    padding: 3px;
    letter-spacing: 1px;
    border-radius: 2px;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
