.container {
  padding: 90px 0;
  background-color: #f1faf1;
}
.title {
  color: #000;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}
.recipes {
  margin: 0 10%;
  text-align: center;
}

.all {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.recipe {
  background-color: white;
  color: black;
  width: 23rem;
  padding: 20px;
  margin-bottom: 20px;
}
.img {
    width: 95%;
}
.recipeName{
    font-size: 20px;
    font-weight: 500;
    margin: 15px 0 10px;
}
.recipeInfo{
    display: flex;
    justify-content: space-around;
}
.recipeInfo p{
    background-color: #f1faf1;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 13px;
    padding: 3px;
    letter-spacing: 1px;
    border-radius: 2px;
    margin: 0;
    display: flex;
    flex-direction: row;
}
.icon{
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-right: 4px;
}
.tagsLine{
    font-size: 13px;
    padding: 3px;
    letter-spacing: 1px;
    border-radius: 2px;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
