.recipeContainer {
  background-color: #eaeaea;
  text-align: center;
}
.title {
  font-size: 33px;
  margin-bottom: 8px;
}
.detailImg {
  width: 60%;
}

.recipeBox {
  background-color: white;
  text-align: justify;
}
.detailTagsLine {
  font-size: 13px;
  padding: 3px;
  letter-spacing: 1px;
  border-radius: 2px;
  margin: 2px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.recipeContainer {
  background-color: #fff;
  padding: 90px 10%;
}
.info {
  margin-bottom: 30px;
}
.tableInfo {
  margin: 0 auto;
  background-color: #f1faf1;
}
.icons-img {
  margin-bottom: 20px;
}
.ingredientsTable td {
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
}
.tableInfo .tableTitle {
  background-color: #b2ecb2;
  color: black;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 500;
}
.tableInfo td {
  width: 60px;
  text-align: center;
  padding: 10px 20px;
}
.tableInfo td span {
  font-size: 20px;
  font-weight: 500;
}
.tableInfo p {
  margin: 5px 0;
}
