
.sideContainer{
    border: 1px solid #e0e0e0;
    text-align: center;
    padding: 20px 10% 42px;
    height: auto;
    width: 80%;
    margin-bottom: 20px;
}
.sideTitle{
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 13px;
    padding: 3px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.lastContainer{
    display: flex;
    align-items: center;
    gap: 20px;
}
.lastRecipeName{
    font-weight: bold;
    font-size: 18px!important;
    margin-bottom: 5px;
    text-align: start;
    letter-spacing: 0;

}
.lastRecipeCalories{
    font-size: 14px;
    font-weight: lighter;
    text-align: start;
}
p{
    margin: 0;
}
.latestRecipes{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

