@font-face {
  font-family: "Regular";   /*Can be any text*/
  src: local("DMSans-Regular"),
    url("./fonts/DMSans-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Regular";
}

button {
  padding: 15px 30px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: white;
  background-color: #000;
  border: none;
  letter-spacing: 1px;
  cursor: pointer;
}

.banner {
  width: 100%;
}

.footer{
  color: #000;
  background-color: white;
  padding: 20px 0;
}
